.greeting{
    display:block;
    background-color: rgba(246, 246, 246,1);
    box-shadow: 3px ;

    &__content{
        padding-top: 10px;
    }
    &__item{
        text-align: center;
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
        line-height: 20px;
        font-weight: 200;
    }
    &__title{
        padding-top: 20px;
        text-align: center;
        font-size: 40px;
        font-family: 'Kanit', sans-serif;
        color:rgb(14, 179, 162);
    }
    &--size{
        width: 100%;
        height: 400px;
    }
}